@import url('https://fonts.googleapis.com/css?family=Delius+Swash+Caps');

html, body {
  overflow-x: hidden;
}
body {
  position: relative;
}

.App {
  text-align: center;
  font-family: 'Delius Swash Caps', cursive;
  overflow: hidden!important;
}

.App-logo {
  height: 8vmin;
}

.App-header {
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/EPzzjHhuxijr01n5f/red-christmas-lights-on-wooden-background-with-place-for-your-text-4k-ultra-hd-3840x2160-video-clip_sssvzjrng_thumbnail-full07.png");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (max-width:425px) {
  .App-header {
    background-image: url("https://i.pinimg.com/564x/6d/25/bf/6d25bf1f2c830b32fe6e5f489b4558b4.jpg");
  }
}
